.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


h1 {
    font-family: Glitter;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 55px;
    font-style: bold;
}

@font-face {
    font-family: Glitter;
    src: url(fonts/iloveglitter.ttf);
}

.f1 {
flex : 1 1 200px;
height: 250px;
box-sizing: border-box;
}

.container img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 20px;
}

